<a href="https://colab.research.google.com/github/Khorrlybobo/Covid-Detection-System-using-Machine-Learning-and-Artificial-Intelligence-/blob/main/Database_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas
!pip install sqlglot
!pip install sqlalchemy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Collecting sqlglot
  Downloading sqlglot-17.16.1-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 297.8/297.8 kB 4.0 MB/s eta 0:00:00
Installing collected packages: sqlglot
Successfully installed sqlglot-17.16.1
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.20)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = "/content/drive/MyDrive/COVID DATABASE MOCK UP - Sheet1.csv"

In [11]:
!pip install mysql-connector-python-rf

Collecting mysql-connector-python-rf
  Downloading mysql-connector-python-rf-2.2.2.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 22.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector-python-rf
  Building wheel for mysql-connector-python-rf (setup.py) ... done
  Created wheel for mysql-connector-python-rf: filename=mysql_connector_python_rf-2.2.2-cp310-cp310-linux_x86_64.whl size=249458 sha256=70fe68501c4c5f0b010aebc98f43e0fabb3d063011ad2cab2c6f9c2617abd591
  Stored in directory: /root/.cache/pip/wheels/6e/7d/63/f1e829bfbd126cd52625ed99c60ae9f09f52c7b6a76dec070c
Successfully built mysql-connector-python-rf
Installing collected packages: mysql-connector-python-rf
Successfully installed mysql-connector-python-rf-2.2.2

In [12]:
from sqlalchemy import create_engine, text
import sqlglot
import pandas as pd
import mysql.connector

In [26]:
def execute_sql_query(sql):
    query_as_sqlite = sqlglot.transpile(sql, read="postgres", write="sqlite")[0]
    mocked_db = create_engine('sqlite://')
    pd.read_csv(path).to_sql('table_name', con=mocked_db)

    with mocked_db.connect() as connection:
        result = connection.execute(text(query_as_sqlite))
        query_result = result.fetchall()
      # Print the query result
        print(query_result)
    return result

In [15]:
df = pd.read_csv(path)
df.head()

,Case ID,Location ID,Date Reported,Health Status,Latitude,Longitude,City,State,Country,Age,Gender,Cough Audio Link,Notes
0,1,L-101,2023 - 08 - 01,COVID-19,6.5244,7.5109,LAGOS,LAGOS,NIGERIA,45,MALE,AUDIO FILE LINK,NaN
1,2,L-102,2023 - 08 - 02,SYMPTOMATIC,9.0579,7.4951,IBADAN,OYO,NIGERIA,32,FEMALE,AUDIO FILE LINK,NaN
2,3,L-103,2023 - 08 - 03,HEALTHY,9.0579,7.4951,IBADAN,OYO,NIGERIA,28,MALE,AUDIO FILE LINK,NaN
3,4,L-104,2023 - 08 - 04,COVID-19,9.0579,7.4951,IBADAN,OYO,NIGERIA,58,FEMALE,AUDIO FILE LINK,NaN
4,5,L-105,2023 - 08 - 05,SYMPTOMATIC,7.2510,5.2075,ABUJA,FCT,NIGERIA,22,MALE,AUDIO FILE LINK,NaN

In [ ]:
# Import required libraries
!pip install pandas
!pip install sqlglot
!pip install sqlalchemy
!pip install mysql-connector-python-rf

import pandas as pd
import sqlglot
from sqlalchemy import create_engine, text

# Load the CSV file
path = "/content/drive/MyDrive/COVID DATABASE MOCK UP - Sheet1.csv"
df = pd.read_csv(path)

# Define the SQL query you want to execute
sql_query = "SELECT * FROM table_name WHERE Location = 'Lagos'"

# Transpile the SQL query to SQLite syntax
query_as_sqlite = sqlglot.transpile(sql_query, read="postgres", write="sqlite")[0]

# Create an SQLite in-memory database and store the CSV data in it
mocked_db = create_engine('sqlite://')
df.to_sql('table_name', con=mocked_db, index=False, if_exists='replace')

# Execute the transpiled SQL query on the SQLite database
with mocked_db.connect() as connection:
    result = connection.execute(text(query_as_sqlite))
    query_result = result.fetchall()

# Print the query result
print(query_result)

In [ ]:


# Load the CSV file
path = "/content/drive/MyDrive/COVID DATABASE MOCK UP - Sheet1.csv"
df = pd.read_csv(path)

# Define the SQL query you want to execute
sql_query = "SELECT * FROM table_name WHERE Location = 'Lagos'"

# Transpile the SQL query to SQLite syntax
query_as_sqlite = sqlglot.transpile(sql_query, read="postgres", write="sqlite")[0]

# Create an SQLite in-memory database
mocked_db = create_engine('sqlite://')

# Define column names and data types
column_names = df.columns.tolist()
column_data_types = df.dtypes.to_dict()

# Store the DataFrame in the SQLite database
df.to_sql('table_name', con=mocked_db, index=False, if_exists='replace', dtype=column_data_types)

# Execute the transpiled SQL query on the SQLite database
with mocked_db.connect() as connection:
    result = connection.execute(text(query_as_sqlite))
    query_result = result.fetchall()

# Print the query result
print(query_result)

In [ ]:

# Load the CSV file
path = "/content/drive/MyDrive/COVID DATABASE MOCK UP - Sheet1.csv"
df = pd.read_csv(path)

# Define the SQL query you want to execute
sql_query = "SELECT * FROM table_name WHERE Location = 'Lagos'"

# Transpile the SQL query to SQLite syntax
query_as_sqlite = sqlglot.transpile(sql_query, read="postgres", write="sqlite")[0]

# Create an SQLite in-memory database
mocked_db = create_engine('sqlite://')

# Define column names and data types mapping
column_data_types = {
    'Case ID': int,   # Map Pandas int64 to SQLAlchemy Integer
    'Location': str,   # Map Pandas object to SQLAlchemy String
    # ... Define other columns and their data types
}

# Store the DataFrame in the SQLite database
df.to_sql('table_name', con=mocked_db, index=False, if_exists='replace', dtype=column_data_types)

# Execute the transpiled SQL query on the SQLite database
with mocked_db.connect() as connection:
    result = connection.execute(text(query_as_sqlite))
    query_result = result.fetchall()

# Print the query result
print(query_result)